# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv310/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / VSCode
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Environment variables
.env
.env.*

# Python cache
*.pyo
*.pyd

# SQLite database (se usi test locali)
*.sqlite3